/* Main container styling */
.secondPage {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 7vw 3vw 8vw 0vw;
}

/* Image section styling */
.imageSection {
    flex: 1;
    display: flex;
    justify-content: center;
    margin-left: 12rem;

}

.profileImage {
    border-radius: 16px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 21vw;
    /* background-color: orange; */
}

/* Text section styling */
.textSection {
    flex: 2;
}

.pageNumber {
    font-size: 1.7rem;
    font-weight: bold;
    text-align: right;
    margin-right:6rem;
}

.heading {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    margin-left: 5rem;

}

.description {
    font-size: 1rem;
    line-height: 1.6;
    color: #333;
    margin-bottom: 2rem;
    margin-left: 5rem;
    
}


@media screen and (min-width: 1800px) {
    .secondPage {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 7vw 8vw 8vw 2vw;
    }
    .pageNumber {
        font-size: 2rem;
        font-weight: bold;

    }
    
    .heading {
        font-size: 4rem;
    }
    .description {
        font-size: 1.3rem;
        line-height: 1.6;
        color: #333;
        margin-bottom: 2rem;
        margin-left: 5rem;
        
    }
  }

@media screen and (max-width: 768px) {
    .secondPage {
        flex-direction: column-reverse; 
        padding: 2vw 4vw 3vw 4vw; 
        gap: 2rem;
  }

    .textSection {
        display: flex;
        flex-direction: column; /* Align elements horizontally */

    }

    .pageNumber {
        font-size: 1.7rem;
        font-weight: bold;
        text-align: right;
        margin: 0; /* Remove margins */
        position: relative;
        top: 11vw;

    }

    .heading {
        font-size: 2rem; /* Adjust heading size */
        margin-left: 0; /* Remove left margin */
        margin-bottom: 1rem;
        /* padding: 0vw 0vw 0 27vw; */

    }

    .description {
        font-size: 1rem;
        margin-left: 0; /* Remove left margin */
        padding: 0 1vw;
    }

    .imageSection {
        margin-left: 0; 
        display: flex;
        justify-content: center;
        width: 100%; 
    }

    .profileImage {
        width:95vw; /* Scale the image for smaller screens */
        height: 55vh; /* Maintain aspect ratio */
    }
}
