/* Main container styling */
.mainDiv {
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    gap:10vw;
    align-items: center;
    padding: 7rem 0rem 10rem 4rem;
    height: 100vh;
    /* border: 2px solid; */
    /* background-color: #CB6E17; */

}

/* Text section styling */
.nameSection {
    /* flex: 1; */
    /* padding-right: 2rem; */
    /* border: 2px solid; */
    /* background-color: red; */
}

.nameSection h1 {
    font-size: 20vh;
    line-height: 1.2;
    margin: 0;
    font-family: 'Satisfy', cursive;
    /* background-color: blue; */
    width: 20rem;
    /* margin-left: 12rem; */
}

/* Optional tagline styling */
.tagline {
    font-size: 1.25rem;
    color: #CB6E17; 
    margin-top: 1rem;
}

/* Image section styling */
.imageCss {
    /* padding: 10vw; */
    /* flex: 1; */
    /* display: flex; */
    /* justify-content: center; */
    /* border: 2px solid; */
    /* margin-left: 74px; */
    /* margin-right: 1rem; */

}

@media screen and (min-width: 1800px) {
    .mainDiv {
gap:18vw;
padding: 5rem 2rem 10rem 0rem;

    }
  }
