.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 18vw 10vw 8vw 10vw;

}

.footer-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Align text to bottom */
    align-items: flex-start; /* Align text to left */

    margin-left: 3vw;

}

.footer-icons-wrapper {
    position: relative;
    bottom: 10vw; 
    padding: 1rem;
    gap:10vw
}

.footer-number {
    font-size: 2rem; 
    margin-top: 7vw;
}

.footer-title {
    font-size: 4rem; 
}
.footer-mail{
    font-size: 1.5rem;
}
.footer-icon{
    font-size: 10vw !important;
}
.arrow{
    font-size: 4vw !important;
    margin-bottom: 1vw;
}

.devtext {
    display: flex;
    justify-content: end;
    position: relative; /* Allows the div to be moved relative to its normal position */
    bottom: 4vw; 
    margin-right: 2vw;
    gap: 2vw;
}

.devtext > p:first-child {
    font-size: 1.2rem;
    font-weight: bold;
}

.devtext > p:last-child {
    font-size: 1.2rem;
}




@media screen and (min-width: 1700px) {
    .footer-container {
        display: flex;
        justify-content: center;
        align-items: stretch;
        padding: 20vw 10vw 0vw 10vw;
        margin-bottom: 14vw;
        gap:15vw;
    }
    .footer-text {
    font-size: 4rem;
    
    }
    .footer-mail{
        font-size: 1.5rem;
    }

    .devtext {
        display: flex;
        justify-content: end;
        position: relative; /* Allows the div to be moved relative to its normal position */
        bottom: 4vw; 
        margin-right: 2vw;
        gap: 1vw;
    }
    
    .devtext > p:first-child {
        font-size: 1.2rem;
        font-weight: bold;
    }
    
    .devtext > p:last-child {
        font-size: 1.2rem;
    }


  
  }

  /* For mobile screens */
@media screen and (max-width: 768px) {
    .footer-container {
        flex-direction: column; /* Stack the elements vertically */
        align-items: center; /* Center align the content */
        padding: 19vw 5vw; /* Adjust padding for mobile */
    }

    .footer-icons-wrapper {
        /* position: static;  */
        margin-top: 2vw; 
    }

    .footer-text {
        margin-left: 2; /* Center align */
        margin-bottom: 3vw; 
        /* align-items: center;  */
        /* font-size: 1.2rem; */

    }
    .footer-title{
        font-size: 3rem !important;

    }

    .footer-icon{
        font-size: 6rem !important
    }
    .footer-mail{
        font-size: 1.2rem;
    }
    .arrow{
        font-size: 3rem !important;
    }
    

}


/* For tablet screens (768px to 1024px) */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    /* Tablet screens */
    .footer-container {
        flex-direction: row; /* Arrange elements in a row for tablets */
        align-items: center; /* Center align the content */
        padding: 15vw 1vw 17vw 5vw; /* Adjust padding for tablet */
    }

    .footer-icons-wrapper {
        margin-top: 0; /* Remove margin for tablet */
        margin-left: 2vw; /* Add slight margin left */
    }

    .footer-text {
        margin-left: 1vw; /* Adjust margin for better alignment */
        margin-bottom: 2vw;
    }

    .footer-title {
        font-size: 2.5rem !important; /* Slightly smaller title for tablet */
    }

    .footer-icon {
        font-size: 5rem !important; /* Slightly smaller icons */
    }

    .footer-mail {
        font-size: 1.5rem; /* Increase font size for better readability on tablets */
    }

    .arrow{
        font-size: 3rem !important;
    }
    

    
}