

.image-gallery-container {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 3vw 3vw 8vw 0vw;
}

.image-gallery-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80vw;
    font-size: 2rem;
    padding-left: 3vw;
}

 .more{
padding-top: 2vw;
font-size: 1.7rem;


 }

.image-gallery-marquee {
    width: 75vw;
    height: 30vw;
    margin-left: 50px;
}

.marquee-image {
    height: 70vh;
    padding: 1rem;
    border-radius: 10px; 
    opacity: 100;
}



@media screen and (min-width: 1800px) {
  .image-gallery-container {
    padding: 3vw 3vw 0vw 0vw;

}
  .imageTitle{
    font-size: 4rem;
  }
  .imagepagenumber{
    font-size: 2rem;
    font-weight: bold;
  }
  .more{
    padding-top: 7vw;
    font-size: 3rem;
    
     }
  }