

.image-gallery-container {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5vw 3vw 8vw 0vw;
}

.image-gallery-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80vw;
    font-size: 2rem;
    padding-left: 3vw;
}
 .more{
padding-top: 2vw;

 }

.image-gallery-marquee {
    width: 75vw;
    height: 30vw;
    margin-left: 50px;
}

.marquee-image {
    height: 70vh;
    padding: 1rem;
    border-radius: 10px; 
    opacity: 100;
}
