/* Main container styling */
.mainDiv {
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    gap:10vw;
    align-items: center;
    padding: 7rem 0rem 10rem 4rem;
    height: 100vh;
    /* border: 2px solid; */
    /* background-color: #CB6E17; */

}

/* Text section styling */
.nameSection {
 
}

.nameSection h1 {
    font-size: 20vh;
    line-height: 1.2;
    margin: 0;
    font-family: 'Satisfy', cursive;
    width: 20rem;
}

/* Optional tagline styling */
.tagline {
    font-size: 1.25rem;
    color: #CB6E17; 
    margin-top: 1rem;
}

/* Image section styling */

@media screen and (min-width: 1800px) {
    .mainDiv {
        gap:19vw;
        padding: 5rem 2rem 10rem 0rem;

    }
    .imageCss {
margin-left: 10vw;
    }
    
  }
