/* General Styles */
.projects-section {
    font-family: "Arial", sans-serif;
    padding: 7vw 5vw 5vw 7vw;
    color: #333;
  }
  .section-header{
    display: flex;
    justify-content: space-between;
    padding: 0vw 5vw 2vw 7vw;
   
    align-items: center;

  }
  .mobile-cards-container{
    display: none;
  }
  
  .section-number {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .section-title {
    font-size: 2rem;

  }
  
  /* Cards Layout */
  .project-cards-container {
    display: flex;
    gap: 20px;

/* background-color: red; */
justify-content: center;

  }
  
  .project-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    height: 29vw; /* Set a fixed height */
    overflow: hidden; 
  }
  
  .project-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
  }
  
  /* Header (Title and Link) */
  .project-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .project-title {
    font-size: 1.5rem;
    color: #cb6e17;
  }
  
  .project-link {
    text-decoration: none;
    color: #014d30; /* Green color for link */
    font-size: 1.5rem;
  }
  
  /* Description */
  .project-description {
    font-size: 1rem;
    color: #555;
    line-height: 1.5;
    overflow-y: auto;
  }

  /* Hide the scrollbar for all browsers */
.project-description::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Edge */
  }
  .project-description {
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer 10+ */
  }
  
  @media screen and (min-width: 1800px) {
    .mobile-cards-container{
      display: none;
    }
    .projects-section {
      font-family: "Arial", sans-serif;
      color: #333;
      padding: 8vw 0vw 15vw 0vw;
  
    }

    .project-card {
      height: 25vw; 
    }
    .project-description {
      font-size: 1.4rem;
      color: #555;
      line-height: 1.5;
      overflow-y: auto;
    }
    .section-header{
      display: flex;
      justify-content: space-between;
      padding: 0vw 8vw 2vw 13vw;
      align-items: center;
  
    }
    
    .section-number {
      font-size: 2rem;
      font-weight: bold;
    }
    
    .section-title {
      font-size: 4rem;
  
    }
  }


  @media screen and (max-width: 768px) {

    .mobile-cards-container{
      display: block;
      margin-left: 10vw;
    }

    .project-cards-container {
      display: none;
      padding: 40px;
    }
  
  .project-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 80vw;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    height: 50vh; /* Set a fixed height */
    overflow: hidden; 
  }
  
  .swiper-pagination-bullet {
      background-color: #666;
      opacity: 1;
  }
  
  .swiper-pagination-bullet-active {
      background-color: #000;
  }

  .section-header {
    display: flex;
    flex-direction: row; /* Align items in a row */
    align-items: center;
    justify-content: flex-start; /* Align content to the left */
    padding: 0 1vw; /* Add padding for spacing */
    gap: 49vw; /* Add spacing between the number and title */
}

.section-number {
    font-size: 1.8rem;
    font-weight: bold;
    color: #333;
}

}