/* Sidebar.css */

.sidebar {
    position: fixed;
    top: 22%;
    left: 3vw;
    width: 4vw;
    background-color: #2d6b47;
    border-radius: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60vh;
    justify-content: center;
    gap: 6vh;
}

.icon{
    font-size: 4vh !important;
    color: white;
}

.sidebar-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem; 
    color: #fdfdfd; 
    cursor: pointer;
    transition: color 0.3s ease;
}



.icon.active {
    color: orange; /* Highlight the active section */
}

@media screen and (min-width: 1700px) {
.sidebar{
    height: 65vh;

}
  }

  /* Media query for mobile screens */
@media screen and (max-width: 768px)  {

    .sidebar{
       display: none;
    
    }
  
}

/* For tablet screens (768px to 1024px) */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    /* Tablet screens */
    .sidebar{
        display: none;
     
     }
}